@import 'vars';
@import 'typography';
@import '../core/styles/_main';


body{
	font-family: Helvetica, sans-serif;
	color: $font-color-dark;
	background-color: $background-color;
}

h1{
	color: $font-color-light;
}